@import "font.css";
@import "grid.css";

body{
    font-family: pregular;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
}
.header a {
  float: left;
}

.header a:hover {
  color: black;
}

.header a.active {
  color: white;
}

.kananatas {
    float: right;
}

.header-right {
    color: black;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    border-radius: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.header-right:hover{
    background-color: #FFEC8D;
  cursor: pointer;
}
  

img{
    width: 100%;
}

.satu{
    font-family: pbold;
}

.dua{
    font-family: pblack;
}

.bagian_satu{
    align-items: center;
}

.judul_utama{
    font-family: pebold;
    font-size: 4rem;
}

.judul_baris_satu{
    color:#E2B9DB;
    margin-bottom: -0.4em;
}

.judul_baris_dua{
    color: #A0C3E1;
}

.judul_wife{
    font-family: onelove;
    font-size: 6rem;
}

.gambar_judul{
    margin: auto;
}

.gambar_judul img{
    width: 100%;
}

.teks_judul{
    width: 70%;
    font-size: 0.9rem;
}

.tombol_judul {
    font-family: pebold;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: #A3E9B7;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding: 1em 2em;
    border-radius: 100px;
    margin-top: 1em;
    border: 0px;
    color: #333333;
  }

  a{
    color:#333333;
    text-decoration: none;
  }

  .tombol_judul:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333333;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .tombol_judul:hover, .tombol_judul:focus, .tombol_judul:active {
    color: #A3E9B7;
    cursor: pointer;
  }

  .tombol_judul a:hover, .tombol_judul a:focus, .tombol_judul a:active {
    color: #A3E9B7;
    cursor: pointer;
  }

  .tombol_judul:hover:before, .tombol_judul:focus:before, .tombol_judul:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }

.judul_bagan{
    font-family: onelove;
    font-size: 5em;
    color: #E2B9DB;
    margin-bottom: 0.5em;
    text-align: center;
}

.text_bagan{
  padding-right:12em;
}

.text_bagan_kanan{
  padding-left:12em;
}

.judul_bagan_1{
    font-size: 4em;
    font-family: pebold;
    line-height: 1em;
    margin-bottom: 0.2em;
}

.judul_bagan_1_kanan{
    padding: 0 2em 0 0;
    text-align: right;
    align-content: end;
}

.gambar_baris_satu, .gambar_baris_dua{
    padding: 0.6em;
}

.gambar_kami{
    width: 100%;
    padding: 0;
    transition: 0.5s;
}

.gambar_kami:hover{
    cursor: pointer;
    padding: 1em;
}

.judul_bagan_4{
    padding: 0.2em 0 0 1.5em;
    font-size: 4.3em;
    color: #FFEC8D;
}

.tangan_ibu{
    font-family: onelove;
    padding: 0 0 0 0.2em;
    font-size: 1.5em;
}

.text_bagan_4{
    text-align: center;
    padding: 0 6em;
}

.header{
  display: flex;
  align-items: center;
  align-content: flex-end;
}

.flex{
  display: flex;
align-items: center ;
align-content: center;
}

.box{
  display: flex;
  justify-content: center;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.box h2{
  color:#333333;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

.box ul{
  position: relative;
  background: #fff;
  padding: 0;
}

.box ul li{
  list-style-type: none;
  padding: 1em;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
  transition: transform 0.5s;
  
}

.box ul:hover li{
  opacity: 0.2;
  cursor: pointer;
}

.box ul li:hover{
  transform: scale(1.1);
  z-index: 100;
  background: #A0C3E1;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
  color:white;
  opacity: 1;
}

.box ul li span{
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  line-height: 20px;
  background: #A3E9B7;
  color: #333333;
  display: inline-block;
  border-radius: 50%;
  margin: 0 0.5em;
  font-size: medium;
  transform: translateY(-0.2em);
}

.box ul li:hover span{
  background-color: #FFEC8D;
  color: #333333;
  cursor: pointer;
}

.logo img{
  width: 50%;
}

.logo_wa{
  padding: 0 2em;
}

/* bg color */

.tentang_kami{
  padding: 5em 0;
}

.footer{
  background-color: #FFEC8D;
  padding: 5em 0;
}

