@import "font.css";
@import "grid.css";
@import "button.css";
@import "navbar.css";

html{
  scroll-behavior: smooth;
}

body{
    font-family: pregular;
}

#Produk{
  scroll-behavior: smooth;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
}
.header a {
  float: left;
}

.header a:hover {
  color: black;
}

.header a.active {
  color: white;
}

.kananatas {
    float: right;
}

.header-right {
    color: black;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    border-radius: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.header-right:hover{
    background-color: #FFEC8D;
  cursor: pointer;
}
  

img{
    width: 100%;
}

.satu{
    font-family: pbold;
}

.dua{
    font-family: pblack;
}

.bagian_satu{
    align-items: center;
}

.judul_utama{
    font-family: pebold;
    font-size: 4rem;
}

.judul_baris_satu{
    color:#E2B9DB;
    margin-bottom: -0.4em;
}

.judul_baris_dua{
    color: #A0C3E1;
}

.judul_wife{
    font-family: onelove;
    font-size: 6rem;
}

.gambar_judul{
    margin: auto;
}

.gambar_judul img{
    width: 100%;
}

.teks_judul{
    width: 70%;
    font-size: 0.9rem;
}

a{
  color:#333333;
  text-decoration: none;
}

.judul_bagan{
    font-family: onelove;
    font-size: 5em;
    color: #E2B9DB;
    margin-bottom: 0.5em;
    text-align: center;
}

.text_bagan{
  padding-right:12em;
}

.text_bagan_kanan{
  padding-left:12em;
}

.judul_bagan_1{
    font-size: 4em;
    font-family: pebold;
    line-height: 1em;
    margin-bottom: 0.2em;
}

.judul_bagan_1_kanan{
    padding: 0 2em 0 0;
    text-align: right;
    align-content: end;
    height: 100%;
}

.gambar_baris_satu, .gambar_baris_dua{
    display: flex;
    padding: 0.6em;
    transition: 0.5s;
}

.gambar_baris_satu:hover, .gambar_baris_dua:hover{
  cursor: pointer;
  transform: scale(1.4);
  z-index: 100;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

.gambar_kami{
    height: 50%;
    padding: 0.6em;
    transition: 0.5s;
}

.gambar_kami:hover{
    cursor: pointer;
    transform: scale(1.4);
    z-index: 100;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
    border:1px solid #FFEC8D;
}

.judul_bagan_4{
    padding: 0.2em 0 0 1.5em;
    font-size: 4.3em;
    color: #FFEC8D;
}

.tangan_ibu{
    font-family: onelove;
    padding: 0 0 0 0.2em;
    font-size: 1.5em;
}

.text_bagan_4{
    text-align: center;
    padding: 0 6em;
}

.header{
  display: flex;
  align-items: center;
  align-content: flex-end;
}

.flex{
  display: flex;
align-items: center ;
align-content: center;
}


.daftar{
  background-color: white;
  transition: transform 0.5s;
  border-radius: 0.2em;
  padding: 0.5em 1em;
  opacity:1;
}

.daftar:hover{
  transform: scale(1.1);
  z-index: 100;
  background: #FFEC8D;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
  color:#333333;
  opacity: 1;
  cursor: pointer;
}

.daftar span{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 2.5em;
  background: #E2B9DB;
  color: #333333;
  display: inline-block;
  border-radius: 50%;
  margin:  0.9em;
  font-family: pblack;
  transform: translateY(-0.2em);
  cursor: pointer;
}

.daftar:hover span{
  background-color: #333333;
  color: white;
  cursor: pointer;
}

.tombol_pemesanan{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  width: 50%;
}

.logo_wa{
  padding: 0 2em;
}

/* bg color */

.tentang_kami{
  padding: 5em 0;
}

.footer{
  margin-top: 5em;
  background-color: #FFEC8D;
  padding: 5em 0;
}

.footer1{
}

.footer1_logo img{
  width: 14em;
  padding: 0 0 0 2.2em;
}

.footer2_teks{
  margin-top: 1em;
}

.footer_link a{
  line-height: 3em;
  font-family: pbold;
  color:#333333;
  transition: 0.5s;
  
  scroll-behavior: smooth;
}

.footer_link a:hover{
  color:#fd507e;
  cursor: pointer;
}
